/* Set content font-families */
.ql-font-arial {
    font-family: Arial, Helvetica, sans-serif;
}

.ql-font-comic-sans {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.ql-font-courier-new {
    font-family: "Courier New", Courier, monospace;
}

.ql-font-georgia {
    font-family: Georgia;
}

.ql-font-helvetica {
    font-family: Helvetica;
}

.ql-font-lucida {
    font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, Tahoma,
        sans-serif;
}

.ql-font-times-new-roman {
    font-family: "Times New Roman", Times, serif;
}

.ql-editor img {
    display: inline;
    vertical-align: middle;
}
